.gallery{
        width: 100vw;
        height: 300px;
        display: flex;
        flex-wrap: wrap;

        &__img{
                width: calc(100% / 6);
                height: 150px;
                background-color: gray;
                border: 1px solid #fff;
        }

        &__img01{
                background-image: url("../imagens/galeria01-img01.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img02{
                background-image: url("../imagens/galeria01-img02.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img03{
                background-image: url("../imagens/galeria01-img03.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img04{
                background-image: url("../imagens/galeria01-img04.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img05{
                background-image: url("../imagens/galeria01-img05.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img06{
                background-image: url("../imagens/galeria01-img06.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img07{
                background-image: url("../imagens/galeria01-img07.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img08{
                background-image: url("../imagens/galeria01-img08.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img09{
                background-image: url("../imagens/galeria01-img09.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img10{
                background-image: url("../imagens/galeria01-img10.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img11{
                background-image: url("../imagens/galeria01-img11.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img12{
                background-image: url("../imagens/galeria01-img12.jpg");
                background-size: cover;
                background-position: center;
        }

    
}


/* galeria 2 */

.gallery-2{
        display: flex;

        &__img{
                width: calc(100% / 9);
                padding-top: calc(100% / 9);
                border: 1px solid;

                @media screen and (max-width: 700px) {
                        width: calc(100% / 3);
                        padding-top: calc(100% / 3);

                      &:nth-of-type(1n + 4){
                              display: none;
                      }
                }
        }

        &__img-1{
                background-image: url("../imagens/galeria-2-img-1.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-2{
                background-image: url("../imagens/galeria-2-img-2.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-3{
                background-image: url("../imagens/galeria-2-img-3.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-4{
                background-image: url("../imagens/galeria-2-img-4.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-5{
                background-image: url("../imagens/galeria-2-img-5.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-6{
                background-image: url("../imagens/galeria-2-img-6.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-7{
                background-image: url("../imagens/galeria-2-img-7.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-8{
                background-image: url("../imagens/galeria-2-img-8.jpg");
                background-size: cover;
                background-position: center;
        }

        &__img-9{
                background-image: url("../imagens/galeria-2-img-9.jpg");
                background-size: cover;
                background-position: center;
        }
}

