/* fontes */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #b4b4b4; }

body {
  overflow-x: hidden; }

.context {
  width: 90%;
  margin: 0 auto;
  padding: 2%; }

p, ul {
  margin-bottom: 10px; }

.title01 {
  color: #698293;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px; }

.title02 {
  color: #737373;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase; }

.main-header {
  margin-bottom: 100px; }
  .main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    width: 100vw; }
  .main-header__menu {
    width: 80%;
    display: flex;
    justify-content: flex-end; }
    .main-header__menu a {
      display: block;
      text-transform: uppercase;
      color: #b4b4b4;
      text-decoration: none;
      padding: 0 3% 1%;
      border-bottom: none;
      transition: border-bottom 1.5s; }
      .main-header__menu a:hover {
        border-bottom: 2px solid #b4b4b4;
        font-weight: bold; }
      @media screen and (max-width: 1100px) {
        .main-header__menu a {
          color: #fff;
          width: 100%;
          text-align: center;
          padding: 2% 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.596); }
          .main-header__menu a:hover {
            border-bottom: none; } }
    @media screen and (max-width: 1100px) {
      .main-header__menu {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #698293;
        flex-direction: column;
        display: none; } }

.menu-responsivo {
  display: none; }
  @media screen and (max-width: 1100px) {
    .menu-responsivo {
      display: block;
      cursor: pointer; } }

.gallery {
  width: 100vw;
  height: 300px;
  display: flex; }
  .gallery__container {
    width: 20%;
    height: 300px;
    background-color: gray; }
  .gallery__img {
    border: 4px solid #fff;
    height: calc(300px / 2); }

.cards > .context {
  max-width: 800px;
  padding: 0; }
  @media screen and (max-width: 700px) {
    .cards > .context {
      max-width: 1200px; } }
.cards__container {
  display: flex;
  align-items: center;
  position: relative;
  top: -50px; }
  @media screen and (max-width: 700px) {
    .cards__container {
      flex-direction: column; } }
.cards__single-card {
  width: calc(100% / 3);
  height: 210px;
  background-color: #576975;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 700px) {
    .cards__single-card {
      width: 60%; } }
  .cards__single-card:nth-of-type(2) {
    width: 40%;
    height: 240px;
    background-color: #688293; }
    @media screen and (max-width: 700px) {
      .cards__single-card:nth-of-type(2) {
        width: 80%; } }
  .cards__single-card h2 {
    font-size: 14px;
    color: #fff; }
  .cards__single-card p {
    font-size: 12px;
    margin: 5px;
    color: #fff; }
  .cards__single-card img {
    width: 8%;
    max-width: 20px;
    height: 8%;
    max-height: 20px; }

.profile > .context {
  max-width: 900px;
  padding: 0; }
.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 750px; }
  @media screen and (max-width: 700px) {
    .profile__container {
      flex-direction: column;
      align-items: center;
      height: auto; } }
.profile__img {
  width: 35%;
  height: 50%;
  background-image: url(../imagens/img_perfil.png);
  background-size: 100% 100%; }
  @media screen and (max-width: 700px) {
    .profile__img {
      width: 100%;
      height: 400px;
      margin-bottom: 15px; } }
.profile__text {
  width: 60%; }
  .profile__text ul {
    list-style-type: none; }
  @media screen and (max-width: 700px) {
    .profile__text {
      width: 100%; } }

.videos {
  padding: 20px 0; }
  .videos__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 800px) {
      .videos__container {
        flex-direction: column; } }
  .videos__video {
    width: 30%;
    height: 200px; }
    @media screen and (max-width: 800px) {
      .videos__video {
        width: 70%;
        height: 300px;
        margin-bottom: 25px; } }
    @media screen and (max-width: 700px) {
      .videos__video {
        width: 100%; } }
    .videos__video iframe {
      width: 100%;
      height: 100%; }

.treatment {
  background-color: #cccaca;
  padding: 30px 0 10px; }
  .treatment h2 {
    text-align: center; }
  .treatment__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0; }
    @media screen and (max-width: 700px) {
      .treatment__container {
        justify-content: center; } }
  .treatment__single {
    width: 30%;
    margin-bottom: 20px; }
    @media screen and (max-width: 800px) {
      .treatment__single {
        width: 45%; } }
    @media screen and (max-width: 700px) {
      .treatment__single {
        width: 90%; } }
    .treatment__single:nth-of-type(2) {
      order: 6; }
    .treatment__single p {
      color: #1f1f1f;
      text-align: justify; }

.depositions {
  padding: 30px 0; }
  .depositions > .context {
    width: 60%;
    text-align: center; }
    @media screen and (max-width: 800px) {
      .depositions > .context {
        width: 90%; } }
  .depositions__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .depositions__container quote {
      display: block;
      margin: 20px 0;
      font-style: italic; }
  .depositions__author {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 700px) {
      .depositions__author {
        width: 80%; } }
    .depositions__author span {
      display: inline-block;
      margin-left: 2%;
      width: fit-content; }
  .depositions__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin: 40px 0; }
    @media screen and (max-width: 700px) {
      .depositions__controls {
        width: 20%; } }
    .depositions__controls .circle, .depositions__controls .circle-active {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #d8d8d8; }
    .depositions__controls .circle-active {
      background-color: #688293; }

/*# sourceMappingURL=style.css.map */
