// usado no menu e nos paragrafos
$cinza01: #b4b4b4;

// usado nas caixas
$azul01: #576975; // usado tb na secao fb
$azul02: #688293; // usado nas bolinhas do slider, botao e footer

//usado no titulos Dra Fernanda e Tratamento (nivel 1 e 2) e no fundo do menu mobile
$azul03: #698293;

// usado nos titulos h3
$cinza02: #737373;

// usado na bolinha slider inativo
$cinza03: #d8d8d8;

// usado na secao instagram
$azul04: #98a5ae;


