
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        color: $cinza01;
}

body{
        overflow-x: hidden;
}

.context{
        width: 90%;
        margin: 0 auto;
        padding: 2%;
}

p, ul{
        margin-bottom: 10px;
}

